body{
    color: #e3e9ef;
}

.wrapper{
    width: 100%;
}

.wrap{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 2em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #d40000;
    width: 100%;
    text-align: center;
}